@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0;

}
.tajam{
    
    background-image: url("./img/trees-bg.png");
    max-width: 100%;
    // display: flex;
    .logo{
       
        display: flex;
        a{
            padding-top: 30px;
            gap: 30px;
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: antiquewhite;
           
        }
        a:hover{
            color: aqua;
        }
        .active{
            color: aqua;
        }
        .tajem{
            padding: 15px 200px;

        }
        .fin{
            padding-right: 200px;
        }

    }
.words{
    text-align: center;
    margin-top: 150px;
h1{
    color: antiquewhite;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 50px;
    }
   p{
     color: antiquewhite;
     text-align: center;
     font-size: 12px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px;
     width: 1000px;
     letter-spacing: 1.6px;
    }
   .more{
      width: 180px;
      height: 50px;
      padding: 12px;
    //   border-radius: 67px;
      background: none;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin-top: 33px;
      color: aqua;
      cursor: pointer;
      border: 2px solid aqua;
      margin-bottom: 100px;
    }
    .more:hover{
        background-color:aquamarine ;
        color: red;
        // transition: 0.4s;
        // transform: translateX(2px);
    }
} 
.radio{
   display: flex; 
   margin-left: 630px;
   margin-right: 630px;
   gap: 2px;
   padding-bottom: 30px;
label,input[type='submit'] {
  display: block;
}

input:checked {
  border: none;
}
} 

}
.master{
    display: flex; 
    margin-top: 50px;
    .picture{
      margin-left: 300px; 
    }
    .story{
        margin-left: -50px;
        h1{
            font-size: 28px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 1px;
            width: 600px;
            color: rgb(142, 129, 106);
        }
        .more{
            width: 180px;
            height: 50px;
            padding: 12px;
            background: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 33px;
            color: aqua;
            cursor: pointer;
            border: 2px solid aqua;
            margin-bottom: 100px;
          }
          .more:hover{
            background-color: aquamarine;
            color: #fff;
          }
    }  
   }
   .vedio{
    
    background-image: url(img/story-bg.png);
    padding: 180px;
    i{
      font-size: 5em;
      color: antiquewhite;
      margin-left: 450px;
    }
    h1{
        margin-top: 20px;
        text-align: center;
        color: antiquewhite;
        font-size: 22px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1.5px;
    }
   }
   .expertise{
    text-align: center;
    padding: 50px;
    h1{
        margin-top: 20px;
        font-size: 24px;
        font-weight: 500;
        line-height: 18px;
        color: #000;
    }
    p{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        color: rgb(69, 69, 103);
    }
    .wrap{
        padding: 70px;
        display: flex;
        flex-wrap: wrap;
        .web{
           
            padding: 10px;
            width: 320px;
            text-align: center;
            h1{
                margin-top: 15px;
                font-size: 20px;
                font-weight: 600;
                line-height: 18px;
            }
            p{
                margin-top: 15px;
                font-size: 13px;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 1px;
            }
        }
    }
   }
